</br>
</br>
</br>
</br>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Favorite Cheeses:</strong>
  <% @cheeses.each do |cheese| %>
      <%= cheese.name %>
      <%= link_to 'Show', cheese %>
  <% end %>
</p>

<%= link_to 'Back', users_path %>
